.parent{
    display: grid;
    border:3px solid rebeccapurple;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 120px 120px 120px ;
    
    gap: 5px;
}
.grid{
    border: 2px solid;
    text-align: center;
    /* width: 120px; */
    /* height: 150px; */
    background-color: cadetblue;
}
 
#grid-1{
    background-color: aqua;
    grid-column: 1/4;
}
#grid-2{
    background-color:bisque;
 grid-row: 2/5;
    
}
#grid-4{
    grid-column: 2/4;
    background-color: blueviolet;
}
/* under the screen of 400px , grid setting change  */
@media(max-width: 400px){
    .parent{
    
    grid-template-columns: 1fr;
    
}
#grid-1,#grid-2,#grid-4{
    grid-column: auto;
    grid-row: auto;
}
    
}