.parent{
    background-color: rgb(236, 241, 241);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(10,1fr);
    min-height: 100vh;
}
.g{
    border: 3px solid;
    text-align: center;
}
#g-1{
    grid-column: 2/span 2;
    grid-row: 1/span 4;
    background-color: antiquewhite;
}
#g-2{
    grid-column: 5/span 2;
    grid-row: 1/span 4;
    background-color: rgb(110, 110, 181);
}
#g-3{
    grid-column: 1/span 8;
    grid-row: 5/span 2;
    background-color: rgb(197, 120, 26);
}
#g-4{
    grid-column: 2/span 2;
    grid-row: 8/span 2;
    background-color: aquamarine;
}
#g-5{
    grid-column: 5/span 2;
    grid-row: 8/span 2 ;
    background-color: rgb(43, 226, 144);
}