.parent{
    display: grid;
    background-color: rgb(74, 69, 69);
    /* grid-template-columns: repeat(3 120px); */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(auto fr);
     */
     grid-template-rows:  120px 120px 120px;
     /* border: none; */
     border-radius: 3px;
}
.g{
    border: 3px solid;
    
    text-align: center;
    border-radius: 8px;
}
#grid-1{
    grid-column: 1/2;
    background-color: aqua;
}
#grid-2{
 grid-column: 2/4;
 background-color: antiquewhite;
}
#grid-3{
    background-color: azure;
    grid-column: 1/4;
}
#grid-4{
    background-color: rgb(229, 149, 51);
    grid-column: 1/3;
}
#grid-5{
    background-color: blueviolet;
    grid-column: 3/4;
}